.tabBarContainer {
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.info {
    /* width: 50%; */
    margin-left: 400px;
    margin-top: 50px;
    margin-right: 20px;

}

.info_text {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.info__title {
    font-size: 22px;
    margin-top: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


.info_div {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
    margin-bottom: 50px;
}